{% extends 'headless.html' %}

{% block app-content %}
<div class="container">
    <div class="center-block">
        <div class="row">
            <div class="span4"></div>
            <div class="span4">
                <h3>Oops!</h3>
                <p>This page does not exist or your privileges are not enough to see it. </p>
                <p>Please contact with your site admin if you think it is a problem.</p>
                <a href="/">Return to main page</a>
            </div>
        </div>
            <div class="span4"></div>
            <div class="span4">
    </div>
</div>
