{% extends 'header.html' %}
{% block angular-app-begin %}
<div ng-app="myApp" ng-controller="myCtrl">
{% endblock %}
{% block angular-app-end %}
</div>
{% endblock %}

{% block app-left-buttons %}
<ul class="nav pull-left" id="idMyCtrl">
    <li class="nav nav-pills dropdown yml-controls">
        <a
            class="dropdown-toggle loadConfigButton"
            data-toggle="dropdown"
            href="#">
            <i class='icon-file'> </i><span class="caret"></span>
        </a>
    </li>
    <li class="nav nav-pills">
        <a type="submit"
           class="saveConfigButton"
           ng-click="updateChanges(activeConf)"
           a-disabled="!myForm.modified"
                >
            <i class='icon-save'></i></a>
    </li>
    <li class="nav nav-pills">
        <a
            type="button"
            class="resetConfigButton"
            a-disabled="!myForm.modified"
            ng-click="syncLatestFromServer(activeConf)"
            >
            <i class='icon-undo'></i>
        </a>
    </li>
</ul>

<!-- Buttons End -->
{% endblock %}

{% block app-content %}
<style>
    .json-tree-span ul { padding-left:20px; list-style:none; }
    .json-tree-span li { margin-bottom:10px; }
    .json-tree-span {
        height: 650px !important;
        width: 750px !important;
        overflow: auto;
        background-color: rgba(101, 101, 101, 0.90);
    }
</style>
<link rel="stylesheet" href="/kibana/css/form-style.css">
<link rel="stylesheet" href="/kibana/css/angular-busy.css">
<div cg-busy="myPromise"></div>
<div class="modal-body">
    <div class="container">
        <div class="span1"></div>
        <div class="span10 json-tree-span">
                    <!-- Tree View of Conf Data -->
                    <form name="myForm" novalidate>
                        <div class="row">
                                <table>
                                    <tr>
                                        <td><json-tree json="jsonData" node="nodeOptions" edit-level="low" collapsed-level="3"></json-tree></td>
                                    </tr>
                                </table>
                        </div>
                    </form>
                    <!-- Tree View of Conf Data End -->
        </div>
        <div class="span1"></div>
    </div>
</div>

<script src="kibana/vendor/angular/angular-1.2.16.min.js"></script>
<script src="kibana/vendor/angular/json-tree.js"></script>
<script src="kibana/vendor/angular/angular-input-modified.js"></script>
<script src="kibana/vendor/angular/angular-busy.js"></script>
<script>
    (function(){

        var myApp = angular.module('myApp', ['json-tree', 'ngInputModified', 'cgBusy']);
        myApp.directive('aDisabled', function() {
            return {
                compile: function(tElement, tAttrs, transclude) {
                    //Disable ngClick
                    tAttrs["ngClick"] = ("ng-click", "!("+tAttrs["aDisabled"]+") && ("+tAttrs["ngClick"]+")");

                    //Toggle "disabled" to class when aDisabled becomes true
                    return function (scope, iElement, iAttrs) {
                        scope.$watch(iAttrs["aDisabled"], function(newValue) {
                            if (newValue !== undefined) {
                                iElement.toggleClass("disabled", newValue);
                            }
                        });

                        //Disable href on click
                        iElement.on("click", function(e) {
                            if (scope.$eval(iAttrs["aDisabled"])) {
                                e.preventDefault();
                            }
                        });
                    };
                }
            };
        });
        myApp.controller('myCtrl', ['$scope', '$http', function($scope, $http) {
                $scope.activeConf = 0;

                    $scope.myPromise = $http.get('controls/api/0').
                        success(function (data) {
                            $scope.jsonData = data;
                            $scope.nodeOptions.refresh();
                        }).error(function () {
                            bootbox.alert("Server error while loading conf file!", function() {
                            });
                        });

                // Needed for the first view to be created.
                function defaultData() {
                    return {
                    };
                }

                $scope.jsonData = defaultData();

                $scope.updateChanges = function(id){
                    $scope.myForm.$setPristine();
                    $scope.myPromise = $http({
                        url: 'controls/api/' + id,
                        method: "POST",
                        data: JSON.stringify($scope.jsonData),
                        headers: {'Content-Type': 'application/json'}
                    }).success(function (data, status, headers, config) {
                        bootbox.alert(data.replace(/\n/g,"<br>"));
                    }).error(function (data, status, headers, config) {
                        bootbox.alert("Server error while sending conf file!", function() {
                        });
                    });
                }

                $scope.syncLatestFromServer = function(id){
                    $scope.myPromise = $http.get('controls/api/' + id).
                            success(function (data) {
                                $scope.jsonData = data;
                                $scope.myForm.modified = false;
                                $scope.nodeOptions.refresh();
                            }).error(function () {
                                bootbox.alert("Server error while loading conf file!", function() {
                                });
                            });
                }
        }])
    })();

    jQuery(document).ready(function() {
        // Load the conf item list from server and generate sub-folders
        var conf_items = [];
        $.getJSON( "controls/api/confs", function( data ) {
            var prev_folder = "";
            var sub_folder_entered = false;
            $.each( data, function( index, val ) {
                var arr = val.split('/');
                if (arr.length > 1){
                    if (prev_folder != arr[0]) {
                        if (sub_folder_entered) {
                            conf_items.push('</ul></li>');
                        }
                        conf_items.push('<li class="dropdown-submenu">');
                        conf_items.push('<a tabindex="-1" href="#">'+ arr[0] + '</a>');
                        conf_items.push('<ul class="dropdown-menu">');
                        prev_folder = arr[0];
                        sub_folder_entered = true;
                    }

                    conf_items.push( '<li><a href="#" class="myMenuClick" id=' + index + '>' + arr[arr.length - 1] + '</a></li>' );
                } else {
                    if (sub_folder_entered) {
                        conf_items.push('</ul></li>');
                        sub_folder_entered = false;
                    }
                    conf_items.push( '<li><a href="#" class="myMenuClick" id=' + index + '>' + val + '</a></li>' );
                }

            });
            if (sub_folder_entered) {
                conf_items.push('</ul></li>');
                sub_folder_entered = false;
            }
        });

        // Generate the dropdown for the list of control files.
        $('.dropdown.yml-controls').on('click','a[data-toggle="dropdown"]',
                function(){
                    //if($(this).children().length <= 0){
                        $(this).after( '<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" >'  + conf_items.join("") + '</ul>' );
                        $(this).dropdown();
                    //}
                });

        // Make angular call for the selected control file.
        $('.dropdown.yml-controls').on('click', '.myMenuClick', function () {
            angular.element('#idMyCtrl').scope().activeConf = $(this).attr("id");
            angular.element('#idMyCtrl').scope().syncLatestFromServer($(this).attr("id"));
        });

        // Help texts for control buttons
        $(".loadConfigButton").attr('title', 'Load config');
        $(".saveConfigButton").attr('title', 'Save config');
        $(".resetConfigButton").attr('title', 'Reset config');
    });
</script>
{% endblock %}