{% extends 'header.html' %}
{% block angular-app-begin %}
<div ng-app="myApp" ng-controller="myCtrl">
{% endblock %}
{% block angular-app-end %}
</div>
{% endblock %}

{% block app-left-buttons %}
<ul class="nav pull-left" id="idMyCtrl">
    <li class="nav nav-pills dropdown yml-controls">
        <a
            class="dropdown-toggle loadConfigButton"
            data-toggle="dropdown"
            href="#">
            <i class='icon-file'> </i><span class="caret"></span>
        </a>
    </li>
    <li class="nav nav-pills">
        <a type="submit"
           class="saveConfigButton"
           ng-click="updateChanges(activeConf)"
           a-disabled="!myForm.modified"
                >
            <i class='icon-save'></i></a>
    </li>
    <li class="nav nav-pills">
        <a
            type="button"
            class="resetConfigButton"
            a-disabled="!myForm.modified"
            ng-click="syncLatestFromServer(activeConf)"
            >
            <i class='icon-undo'></i>
        </a>
    </li>
</ul>

<!-- Buttons End -->
{% endblock %}

{% block app-content %}
<style>
    ul { padding-left:20px; list-style:none; }
    li { margin-bottom:10px; }
</style>
<link rel="stylesheet" href="css/form-style.css">
        <div class="container">
            <div class="center-block">
                    <!-- Tree View of Conf Data -->
                    <form name="myForm" novalidate>
                        <div class="row">
                                <table>
                                    <tr>
                                        <td><json-tree json="jsonData" node="nodeOptions" edit-level="low" collapsed-level="3"></json-tree></td>
                                    </tr>
                                </table>
                        </div>
                    </form>
                    <!-- Tree View of Conf Data End -->
            </div>
        </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script src="vendor/angular/json-tree.js"></script>
<script src="vendor/angular/angular-input-modified.js"></script>
<script>
    (function(){

        var myApp = angular.module('myApp', ['json-tree', 'ngInputModified']);
        myApp.directive('aDisabled', function() {
            return {
                compile: function(tElement, tAttrs, transclude) {
                    //Disable ngClick
                    tAttrs["ngClick"] = ("ng-click", "!("+tAttrs["aDisabled"]+") && ("+tAttrs["ngClick"]+")");

                    //Toggle "disabled" to class when aDisabled becomes true
                    return function (scope, iElement, iAttrs) {
                        scope.$watch(iAttrs["aDisabled"], function(newValue) {
                            if (newValue !== undefined) {
                                iElement.toggleClass("disabled", newValue);
                            }
                        });

                        //Disable href on click
                        iElement.on("click", function(e) {
                            if (scope.$eval(iAttrs["aDisabled"])) {
                                e.preventDefault();
                            }
                        });
                    };
                }
            };
        });
        myApp.controller('myCtrl', ['$scope', '$http', function($scope, $http) {
                $scope.activeConf = 0;

                $http.get('controls/api/0').
                        success(function (data) {
                            $scope.jsonData = data;
                            $scope.nodeOptions.refresh();
                        }).error(function () {
                            alert("Server error while loading conf file!");
                        });

                // Needed for the first view to be created.
                function defaultData() {
                    return {
                    };
                }

                $scope.jsonData = defaultData();

                $scope.updateChanges = function(id){
                    $scope.myForm.$setPristine();
                    $http({
                        url: 'controls/api/' + id,
                        method: "POST",
                        data: JSON.stringify($scope.jsonData),
                        headers: {'Content-Type': 'application/json'}
                    }).success(function (data, status, headers, config) {
                    }).error(function (data, status, headers, config) {
                        alert("Server error!");
                    });
                }

                $scope.syncLatestFromServer = function(id){
                    $http.get('controls/api/' + id).
                            success(function (data) {
                                $scope.jsonData = data;
                                $scope.myForm.modified = false;
                                $scope.nodeOptions.refresh();
                            }).error(function () {
                                alert("Server error!");
                            });
                }
        }])
    })();

    var conf_items = [];
    $.getJSON( "controls/api/confs", function( data ) {
        $.each( data, function( index, val ) {
            conf_items.push( "<li><a href=\"#\" id=\'" + index + "\'>" + val + "</a></li>" );
        });
    });

    jQuery(document).ready(function() {
        $('.dropdown.yml-controls').on('click','a[data-toggle="dropdown"]',
                function(){
                    //if($(this).children().length <= 0){
                        $(this).after( '<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" >' + conf_items.join("") + '</ul>' );
                        $(this).dropdown();
                    //}
                });

        $('.dropdown.yml-controls').on('click', '.dropdown-menu li a', function () {
            angular.element('#idMyCtrl').scope().activeConf = $(this).attr("id");
            angular.element('#idMyCtrl').scope().syncLatestFromServer($(this).attr("id"));
        });

        $(".loadConfigButton").attr('title', 'Load config');
        $(".saveConfigButton").attr('title', 'Save config');
        $(".resetConfigButton").attr('title', 'Reset config');
    });
</script>
{% endblock %}