{% extends 'header.html' %}
{% block angular-app-begin %}
<div ng-app="myApp" ng-controller="myCtrl">
{% endblock %}
{% block angular-app-end %}
</div>
{% endblock %}

{% block app-left-buttons %}
<ul class="nav pull-left" id="idMyCtrl">
    <li class="nav nav-pills dropdown yml-controls">
        <a
            class="dropdown-toggle loadConfigButton"
            data-toggle="dropdown"
            href="#">
            <i class='icon-file'> </i><span class="caret"></span>
        </a>
    </li>
    <li class="nav nav-pills">
        <a type="submit"
           class="saveConfigButton"
           ng-click="updateChanges(activeConf)"
           a-disabled="!myForm.modified"
                >
            <i class='icon-save'></i></a>
    </li>
    <li class="nav nav-pills">
        <a
            type="button"
            class="resetConfigButton"
            a-disabled="!myForm.modified"
            ng-click="syncLatestFromServer(activeConf)"
            >
            <i class='icon-undo'></i>
        </a>
    </li>
</ul>

<!-- Buttons End -->
{% endblock %}

{% block app-content %}
<style>
    .json-tree-span ul { padding-left:20px; list-style:none; }
    .json-tree-span li { margin-bottom:10px; }
    .json-tree-span {
        height: 650px !important;
        width: 750px !important;
        overflow: auto;
        background-color: rgba(101, 101, 101, 0.90);
    }
</style>
<link rel="stylesheet" href="/kibana/css/form-style.css">
<link rel="stylesheet" href="/kibana/css/angular-busy.css">
<div cg-busy="myPromise"></div>
<div class="modal-body">
    <div class="container">
        <div class="span1"></div>
        <div class="span10 json-tree-span">
                    <!-- Tree View of Conf Data -->
                    <form name="myForm" novalidate>
                        <div class="row">
                                <table>
                                    <tr>
                                        <td><json-tree json="jsonData" node="nodeOptions" edit-level="low" collapsed-level="3"></json-tree></td>
                                    </tr>
                                </table>
                        </div>
                    </form>
                    <!-- Tree View of Conf Data End -->
        </div>
        <div class="span1"></div>
    </div>
</div>
{% endblock %}

{% block footer-js %}
{% parent %}
<script src="kibana/vendor/angular/angular-1.2.16.min.js"></script>
<script src="kibana/vendor/angular/json-tree.js"></script>
<script src="kibana/vendor/angular/angular-input-modified.js"></script>
<script src="kibana/vendor/angular/angular-busy.js"></script>
<script src="kibana/vendor/browserify/build/controls.js"></script>
{% endblock %}