{% extends 'layout.html' %}

{% block app-css %}
    <link rel="stylesheet" href="css/bootstrap.dark.min.css" type="text/css">
    <script src="vendor/jquery/jquery-1.8.0.js"></script>
    <script src="vendor/bootstrap/bootstrap.js"></script>
{% endblock %}

{% block app-header %}
<section class="header">
    <section class="container-fluid">
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <span class="brand"><img src="img/small.png"></span>
                    {% block app-left-buttons %} {% endblock %}
                    <ul class="nav pull-right">
                        <div class="nav nav-pills">
                            <li><a href="/admin">Admin</a></li>
                            <li><a href="/controls">Controls</a></li>
                            <li><a href="/kibana/#/dashboard/file/logstash.json">System Logs 1</a></li>
                            <li><a href="/kibana/#/dashboard/script/logstash.js">System Logs 2</a></li>
                            <li><a href="/logout">Log Out</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}