/** Decorating elements as valid only if they are modified */
input.ng-valid.ng-modified {
    background-color: #e67a00;
    color: #ffffff;
}

/** Decorating entire form-group */
.form-group.valid.modified {
    border-style: solid;
    background-color: #FAA;
    border-color: #6A6;
}

input.ng-invalid {
    background-color: #F11;
    border-color: #F66;
}

.form-group {
    margin: 10px;
}

.form-group label {
    color: 000;
    font-size: 13px;
    font-weight: bold;
}

a.disabled {
    color: #e67a00;
    cursor: not-allowed;
}

.tree-expand-node {
    cursor: pointer;
    cursor: hand;
    border-bottom-color: red !important;
}